# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

builds-*
.cache/
.pip/
.venv/
.wheelhouse/
.eggs/
.idea/
build/
dist/
*.db
*.egg-info/
*.egg/

# dev data

simple_scheduler/dev_data/*
simple_scheduler/dev_data/**
!simple_scheduler/dev_data/.gitkeep